-- ========================================
-- Import script generated from Excel file
-- File: user level tables v1.xlsx
-- ========================================

-- ========== STAFF ==========
-- Importing staff from Excel file
-- Excel columns: userid, loginID, username, active

INSERT INTO staff (id, name, app_id, userid, loginID, active) VALUES ('692b91da-72c0-4cea-b30c-1ab19f9ae9e9', 'Yang Wang', 'yang.wang', '1', 'yang.wang@hku.hk', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  userid = EXCLUDED.userid,
  loginID = EXCLUDED.loginID,
  active = EXCLUDED.active;

INSERT INTO staff (id, name, app_id, userid, loginID, active) VALUES ('bf219ca4-9cc1-46a5-9177-14701cd5eafd', 'Jessica Tai', 'jessicatai', '2', 'jessicatai@hku.hk', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  userid = EXCLUDED.userid,
  loginID = EXCLUDED.loginID,
  active = EXCLUDED.active;

INSERT INTO staff (id, name, app_id, userid, loginID, chinesename, active) VALUES ('b109933f-24f6-4b95-bb72-4285376d018f', 'Alan LEUNG', 'alanl', '3', 'alanl@hku.hk', 'µóüÕüëÕÇ½', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  userid = EXCLUDED.userid,
  loginID = EXCLUDED.loginID,
  chinesename = EXCLUDED.chinesename,
  active = EXCLUDED.active;





































-- ========== TEAMS ==========
-- Importing teams from Excel file
-- Excel columns: teamid, dept, team, active

INSERT INTO teams (id, name, app_id, teamid, dept, team, active) VALUES ('f29ee1ad-8e72-4298-9176-33c2b70d58be', NULL, NULL, '1', 'DAAO', 'Fundraising Team', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  teamid = EXCLUDED.teamid,
  dept = EXCLUDED.dept,
  team = EXCLUDED.team,
  active = EXCLUDED.active;

INSERT INTO teams (id, name, app_id, teamid, dept, team, active) VALUES ('9e86801c-c1f5-4bbf-afb4-16c5e63370a6', NULL, NULL, '2', 'DAAO', 'Alumni Affairs Team', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  teamid = EXCLUDED.teamid,
  dept = EXCLUDED.dept,
  team = EXCLUDED.team,
  active = EXCLUDED.active;

INSERT INTO teams (id, name, app_id, teamid, dept, team, active) VALUES ('7d617e02-cd76-40fb-9dd1-9690bfe0901b', NULL, NULL, '3', 'DAAO', 'Advancement Intelligence Team', '1')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  teamid = EXCLUDED.teamid,
  dept = EXCLUDED.dept,
  team = EXCLUDED.team,
  active = EXCLUDED.active;


-- ========== ROLES ==========
-- Importing roles from Excel file
-- Excel columns: roleid, role

INSERT INTO roles (id, name, app_id, roleid, role) VALUES ('5252d325-28ab-462a-a6cd-7b77375fa4dc', NULL, NULL, '1', 'sys admin')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  roleid = EXCLUDED.roleid,
  role = EXCLUDED.role;

INSERT INTO roles (id, name, app_id, roleid, role) VALUES ('d9d01c57-acec-49e3-95cc-a903ae55a2ad', NULL, NULL, '2', 'dept head')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  roleid = EXCLUDED.roleid,
  role = EXCLUDED.role;

INSERT INTO roles (id, name, app_id, roleid, role) VALUES ('1a245e5c-2319-4b38-845f-9f8efe926448', NULL, NULL, '3', 'supervisor')
ON CONFLICT (app_id) DO UPDATE SET
  name = EXCLUDED.name,
  roleid = EXCLUDED.roleid,
  role = EXCLUDED.role;


-- ========== SUBORDINATE MAPPING ==========
-- Importing subordinate_mapping from Excel file
-- Excel columns: smapid, teamid, super_id, subo_id, active

-- ERROR: Could not find supervisor and subordinate columns
-- Available columns: smapid, teamid, super_id, subo_id, active
-- ========== USER ROLE MAPPING ==========
-- Importing user_role_mapping from Excel file
-- Excel columns: urmapid, userid, roleid

INSERT INTO user_role_mapping (app_user_id, role_id)
VALUES ('1', '4')
ON CONFLICT (app_user_id, role_id) DO NOTHING;

INSERT INTO user_role_mapping (app_user_id, role_id)
VALUES ('2', '4')
ON CONFLICT (app_user_id, role_id) DO NOTHING;

INSERT INTO user_role_mapping (app_user_id, role_id)
VALUES ('3', '4')
ON CONFLICT (app_user_id, role_id) DO NOTHING;



























































-- ========================================
-- End of import script
-- ========================================
